# ─── Copie ce fichier en .env et remplis tes valeurs ──────────────────────────

# MongoDB Atlas (production)
MONGO_URI=mongodb+srv://monuser:monpassword123@ac-elqsyw9.ntfl3qv.mongodb.net/

# MongoDB local Docker (développement)
# MONGO_URI=mongodb://admin:adminpassword@mongo:27017/

# Base de données
DB_NAME=healthcare-dataset
COLL_NAME=healthcare-dataset

# Fichier source
DATA_FILE=/data/healthcare_dataset.json
BATCH_SIZE=500

# Mots de passe des rôles
READER_PASSWORD=ReaderPass123!
WRITER_PASSWORD=WriterPass123!
DBADMIN_PASSWORD=AdminPass123!
